.App {
  min-height: 100vh;
  background-color: #111211;
  position: relative;
  overflow: hidden;
}

main {
  color: #ffffff;
}

h1 {
  color: #ffffff;
  margin-bottom: 1rem;
}

p {
  color: #cccccc;
}
